asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
certifi==2021.5.30
chardet==4.0.0
dj-database-url==0.5.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1625148501818/work
django-heroku==0.3.1
gunicorn==20.1.0
idna==2.10
psycopg2==2.9.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
requests==2.25.1
six==1.16.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3==1.26.6
whitenoise==5.2.0
